.header {
  max-width: 1260px;
  padding: 0 40px;
  width: 100%;
  z-index: 5;
  position: absolute;
  top: 23px;
  left: 50%;
  transform: translateX(-50%);
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 60px;
  justify-content: space-between;
  align-items: center;

  &__logo {
    max-width: 132px;
  }

  &__phone {
    display: flex;
    align-items: center;
    gap: 12px;
    text-decoration: none;
    &-number {
      color: var(--color-text-header);
      font-size: 18px;
      font-weight: 500;
      line-height: 21.94px;
    }
    &-icon {
      @include icon();
      padding: 11px;
      border-radius: 50%;
      border: 1px solid rgba(255, 255, 255, 0.2);
    }
  }

  @media (max-width: 1260px) {
    gap: 24px;
  }
  @media (max-width: 1070px) {
    left: 0;
    transform: none;
    justify-content: start;
    grid-template-columns: auto auto 1fr;
    &__phone {
      justify-self: end;
    }
  }

  @media (max-width: 576px) {
    padding: 0 20px;
    &__phone {
      &-number {
        display: none;
      }
    }
  }
}
